body {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}

header {
	text-align: center;
	background: url('http://dash.ga.co/assets/jeff-bg.png');
	background-size: cover;
	padding-top: 10px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
header h1 {
	color: white;
}

.logo {
	size: absolute;
	vertical-align: center;
}

li a, a:visited {
	color: white;
}

a:hover {
	color: f29b03;
}

#content {
    overflow: auto;
}

#nav  li {
	margin: 0 0 5px 0;
}

#nav, #feature, #footer {
    margin: 1%;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column3 {
    margin-right: 0%;
}

#footer {
    background-color: #efefef;
    padding: 0.5em 0;
}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
}

li {
    display: inline;
    padding: 5px;
}

@media (max-width: 500px) {
	h1 {
		font-size: 36px;
		padding: 5px;
	}
	li {
		padding: 5px;
		display: block;
	}
}