body{
    background: radial-gradient(#000633,#000B35);
}

#enter {
    width: 400px;
    margin: auto;
}

#enter:hover {
    background-image: url('../img/')
}

.welcome {
    margin: 1em 0;
    height: 400px;
    width: 400px;
    position: relative;
    top: 50%;
    text-align: center;
    line-height: 400px;
    margin-bottom: 400px;
}

img {
    vertical-align: middle;
    line-height: 0;
    margin:0 auto;
    max-height: 400px;
}

.h1intro {
    
}