body {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
	background-color: maroon;
}

header {
	text-align: center;
	background: url('../img/background.png');
	background-size: cover;
	text-transform: uppercase;
}

#header {
	
}

ul {
	font-size: 40px;
	background: rgba(0,0,0,0.5);
}

a {
	text-decoration: none;
}

.logo {
	z-index: -1;
}

a:hover {
	color: f29b03;
}

#content {
    overflow: auto;
}

#nav, #feature, #footer {
    margin: 1%;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column3 {
    margin-right: 0%;
}

#footer {
    background-color: #efefef;
    padding: 0.5em 0;
}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
}

li {
    display: inline;
    padding: 5px;
}

@media (max-width: 500px) {
	h1 {
		font-size: 36px;
		padding: 5px;
	}
	li {
		padding: 5px;
		display: block;
	}
}